# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
**/.env

# Uploads
uploads/
server/uploads/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code
.vscode/
!.vscode/extensions.json

# OS Files
.DS_Store
Thumbs.db